/* This defines styles and classes used in the book */
/* body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; } */
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
/* code{ white-space: pre-wrap; } */
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}

body {
    font-family: "DejaVu Serif", serif;
    margin: 5% 5% 20% 5%;
    text-align: justify;
    font-size: 0.75em;
    line-height: 1.5;
}

h1 {
    text-align: left;
    font-size: 2em;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

h1.title {
    text-align: center;
}

p.author {
    text-align: center;
}

code {
    font-family: "DejaVu Sans Mono", monospace;
    background-color: #ebebeb;
    font-size: 100%;
    line-height: inherit;
    white-space: pre-wrap;
}

pre {
    font-family: "DejaVu Sans Mono", monospace;
    padding: 1em;
    overflow: auto;
    font-size: 100%;
    line-height: inherit;
    border-radius: 0.25em;
    background-color: #ebebeb;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
    font-size: 100%;
}

th, td {
    padding: 0.8em;
}

table, th, td {
    border: 0.06em solid black;
}

a {
    text-decoration: none;
}

blockquote {
    border-style: solid solid solid solid;
    border-color: #a41434;
    border-width: medium;
    border-radius: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fcecf4;
}

@media screen { /* Workaround for iBooks issue; see #6242 */
  .sourceCode {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }
}

